footer {
    background: #16222A;
    background: -webkit-linear-gradient(59deg, #3A6073, #16222A);
    background: linear-gradient(59deg, #3A6073, #16222A);
    color: white;
    margin-top:100px;
  }
  
  footer a {
    color: #fff;
    font-size: 14px;
    transition-duration: 0.2s;
  }
  
  footer a:hover {
    color: #FA944B;
    text-decoration: none;
  }
  
  .copy {
    font-size: 12px;
    padding: 10px;
    border-top: 1px solid #FFFFFF;
  }
  
  .footer-middle {
    padding-top: 2em;
    color: white;
  }
nav a{
    
        
            color: white;
            font-size: 20px;
            font-weight: bold;   

}
.card-body p{
    color: white;
    font-size: 15px;
    font-weight: bold;
    font-family:'Times New Roman', Times, serif
}
.card-header{
  color: white;
  font-size: 20px;
  font-weight: bold;
  font-family:'Times New Roman', Times, serif
}
.carousel-caption h3{
  color: black;
    font-weight: bold;

}
.carousel-caption span{
  color: black;
    font-size: 20px;
    font-weight: bold;
    font-family:'Times New Roman', Times, serif
   
}
.carousel-caption p{
  color: black;
    font-size: 20px;
    font-weight: bold;
    font-family:'Times New Roman', Times, serif
   
}

 